/* Divider Component */
.keyer-divider {
  height: 1px;
  background-color: var(--color-divider);
  border: none;
}

.keyer-divider-vertical {
  width: 1px;
  height: auto;
  align-self: stretch;
  background-color: var(--color-divider);
}
