/* List Component */
.keyer-list {
  list-style: none;
  margin: 0;
  padding: 8px;
  width: 100%;
  overflow: auto;
  min-height: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.keyer-list-group {
  margin-bottom: 4px;
}

.keyer-list-group-title {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-subtitle);
  text-transform: uppercase;
  padding: 10px 12px;
  margin: 0;
  text-align: start;
}

.keyer-list-item {
  padding: 4px 6px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  user-select: none;
  border-radius: 4px;
  margin-top: 4px;
}

.keyer-list-item:hover {
  background-color: var(--color-hover);
}

.keyer-list-item-selected {
  background-color: var(--color-selected);
}

.keyer-list-item-selected:hover {
  background-color: var(--color-selected);
}
