/* Input Component */
.keyer-input {
  padding: 12px 8px;
  font-size: 18px;
  color: var(--color-title);
  background-color: var(--color-input-bg);
  border: none;
  border-bottom: 1px solid var(--color-border);
  outline: none;
  font-family: var(--font-mono);
}

.keyer-input:focus {
  border-bottom-color: var(--color-border);
}

.keyer-input::placeholder {
  color: var(--color-subtitle);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
